The aim of this project is to investigate investors' risk tolerance and their personal perception of it. Next, we will create a model that suggests the ratio of risky to safe assets so that the investor can withstand the determined allocation of assets when the risk materializes.

Data for this project comes from Survey of Consumer Finances 2007 - 2009 https://www.federalreserve.gov/econres/scf_2009p.htm
<br>
Codebook: https://www.federalreserve.gov/econres/files/codebk2009p.txt
<br>
The choice is not accidental, as we want to investigate how the financial crisis of 2008 influenced the financial decisions of the respondents.
<br>
The idea for the development and preparation of data for analysis comes from "Machine Learning and Data Science Blueprints for finance" by Hariom Tatsat, Sahil Puri and Brad Lookabaugh.

In [1]:
import pandas as pd

In [2]:
# data load time ~ 3 min
df = pd.read_excel('SCFP2009panel.xlsx')

In [3]:
df.head()

,YY1,Y1,WGT09,AGE07,AGECL07,EDUC07,EDCL07,MARRIED07,KIDS07,LIFECL07,...,NHMORTPCT,WAGEINCPCT,BUSSEFARMINCPCT,INTDIVINCPCT,KGINCPCT,SSRETINCPCT,TRANSFOTHINCPCT,PSAVINGPCT,LEVERAGEPCT,I
0,1,11,11668.134198,47,3,12,2,1,0,2,...,-21.052632,-32.931828,0.0,15939.278937,0.0,0.0,0.0,93.125197,270.403054,57
1,1,12,11823.456494,47,3,12,2,1,0,2,...,-21.052632,-32.931828,0.0,15939.278937,0.0,0.0,0.0,93.125197,249.593620,57
2,1,13,11913.228354,47,3,12,2,1,0,2,...,-50.000000,-32.931828,0.0,15939.278937,0.0,0.0,0.0,93.125197,209.233358,57
3,1,14,11929.394266,47,3,12,2,1,0,2,...,-33.333333,-32.931828,0.0,15939.278937,0.0,0.0,0.0,93.125197,209.273158,57
4,1,15,11917.722907,47,3,12,2,1,0,2,...,-38.596491,-32.931828,0.0,15939.278937,0.0,0.0,0.0,93.125197,232.690767,57

In [5]:
df.shape

(19285, 515)

In [10]:
df.isnull().sum().sum()

0